<footer id="footer">
    <nav class="navbar fixed-bottom bg-primary text-white">
    <div class="container row mx-auto">
        <div class="copyright col-12 col-md-6">
            © <span id="footer_copyright_year">2024</span> Copyright&nbsp;
            <strong>
                <a
                    href="https://abdevweb.com"
                    target="_blank"
                    class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                >
                    AbDevWeb
                </a>
            </strong>
        </div>
        <div class="credits col-12 col-md-6 text-end">
            Made with&nbsp;
            <a href="https://buymeacoffee.com/abdevweb" target="_blank" title="Click here to offer me a coffee." class="footer-icon">☕</a>
            &nbsp;&amp;&nbsp;
            <a href="https://github.com/Baha-Abdelatif/" target="_blank" title="Click here to visit my Github page." class="footer-icon">❤️</a>
            by Abdelatif BAHA
        </div>
    </div>
    </nav>
</footer>